body{
    background-color: #fffde8;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    display: block;
}

.title {
    text-align: center;
}


  header{
      background-color: #f9873a;
      height: 60px;
      display: flex;
      align-items: center;
      top: 0;
      overflow: hidden;
      position: sticky;
      position: -webkit-sticky;
  }
.notH{
    font-weight: normal;
    margin-left: 50px;
}

header * {
   display: inline-block;
   padding: 5px;
}
 h2{
    margin: 0 auto;
    text-align: center;
}

 .socialMedia {
    margin: 0 auto;
    max-width: 229px;
 }

 .socialMedia *{
     display:inline-block;
     padding: 5px; 
 }

 .projectList {
    margin: 0 auto;
    max-width: 891px;
 }

 .projectList *{
     display:inline-block;
     margin: 2px; 
 }

 .projectPages {
    margin: 0 auto;
 }

 #calibrator .projectPages{
    max-width: 670px;
}

#elonrun .projectPages{
    max-width: 567px;
}

#hillclimb .projectPages{
    max-width: 381px;
}


#scouter .projectPages{
    max-width: 520px;
}



#evol .projectPages{
    max-width: 381px;
}

 .projectPages *{
     display:inline-block;
     margin: 2px; 
 }

 li a {
    color: #000;
    text-decoration: none;
}
  
  li a.active {
    color: firebrick;
  }
  
  li a:hover:not(.active) {
    color: firebrick;
  }

Button {
    background-color:#ffe0b3;     
    border: none;    
    color: black;    
    padding: 15px 32px;    
    text-align: center;    
    text-decoration: none;    
    display: inline-block;    
    font-size: 16px;    
    margin: 4px 2px;   
    border-radius: 4px;
    border: 2px solid #f44336;
    -webkit-transition-duration: 0.4s;    
    transition-duration: 0.4s;
}

.navBu{
    background-color: #ffb869;
}


Button:hover {
    background-color: #7cb4c2;     
    color: black; 
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border: 2px solid #1a5764;
}

.navBu:hover {
    background-color: #4c8492;  
}

.media{
    opacity: 0.7;
    transition: opacity .075s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out
}

.media:hover{
    opacity: 1.0;
    transition: opacity .075s ease-in-out;
    -moz-transition: opacity .55s ease-in-out;
    -webkit-transition: opacity .55s ease-in-out;
}

