body{
    background-color: #fffde8;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    display: block;
}

.title {
    text-align: center;
}


  header{
      background-color: #f9873a;
      height: 60px;
      display: flex;
      align-items: center;
      top: 0;
      overflow: hidden;
      position: sticky;
      position: -webkit-sticky;
  }
 header * {
     display: inline-block;
     padding: 5px;
 }

 .socialMedia {
    margin: 0 auto;
    max-width: 229px;
 }

 .socialMedia *{
     display:inline-block;
     padding: 5px; 
 }



 

  li a {
    color: #000;
    text-decoration: none;
}
  
  li a.active {
    color: firebrick;
  }
  
  li a:hover:not(.active) {
    color: firebrick;
  }

  Button {
    background-color:#ffe0b3;     
    border: none;    
    color: black;    
    padding: 15px 32px;    
    text-align: center;    
    text-decoration: none;    
    display: inline-block;    
    font-size: 16px;    
    margin: 4px 2px;   
    border-radius: 4px;
    border: 2px solid #f44336;
    -webkit-transition-duration: 0.4s;    
    transition-duration: 0.4s;
}


Button:hover {
    background-color: #7cb4c2;     
    color: black; 
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border: 2px solid #1a5764;
}

.media{
    opacity: 0.7;
    transition: opacity .075s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out
}

.media:hover{
    opacity: 1.0;
    transition: opacity .075s ease-in-out;
    -moz-transition: opacity .55s ease-in-out;
    -webkit-transition: opacity .55s ease-in-out;
}

.galleryParent{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 0px;
    width: 100%;
    margin: 0;
}

.gallery {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    width: 400px;
  }