.header h1{
    text-align: center;
}

.contact .emailAndLocation,
.contact .phoneAndLinkedIn{
    display: inline-block;
}
.contact .phoneAndLinkedIn{
    float: right;
}

hr {
    border-style: inset;
    border-width: 1.25px;
    border-color: #696969;
}

.education h2{
    text-align: center;
}

.education p{
    padding: 0px;
    margin: 0px; 
}

.education ul li p,
.education ul li h3{
    padding: 0px;
    margin: 0px;
    margin-bottom: 4px; 
}

.education ul li h3{
    font-size: 17px;
}

.education ul li{
    margin: 0px; 
    padding: 0px; 
    
}

.education ul{
    margin-top: 0px; 
    padding-top: 0px; 
}

.education ul li *{
    display: inline-block;
}

